* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
}

body {
  font-family: Barlow-Semi-Condensed, sans-serif;
  background-color: #ecf2f8;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 244px);
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  gap: 30px 24px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: hsl(219, 29%, 14%);
  color: white;
  padding: 26px;
  border-radius: 8px;
  gap: 16px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}

.user-info {
  display: flex;
  gap: 17px;
  align-items: center;
}

.user-photo {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid white;
}

.user-status {
  opacity: 50%;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

.card-story {
  font-size: 13px;
  font-weight: 500;
  opacity: 70%;
}

.card:first-child {
  grid-column: 1/3;
  background-color: hsl(263, 55%, 52%);
  background-image: url(../public/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 78%;
}

.card:first-child .user-photo {
  border-color: #a775f1;
}

.card:nth-child(2) {
  background-color: hsl(217, 19%, 35%);
}

.card:nth-child(3),
.card:last-child {
  background-color: #fff;
  color: hsl(217, 19%, 35%);
}

.card:nth-child(4) {
  grid-column: 2/4;
}

.card:nth-child(4) .user-photo {
  border-color: #733fc8;
}

.card:last-child {
  grid-column: 4;
  grid-row: 1 / 3;
}

@media (max-width: 820px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-block: 71px;
    padding-inline: 24px;
  }
  .card:first-child .card-title {
    margin-bottom: 40px;
  }
}
